<p class="text-end">
    יחידות החיל המפעילות תותחים נייחים או ניידים נקראות המערך הקני (מהמילה קנה). מערך זה מהווה את מרבית כוחו של החיל.
    המערך עושה שימוש בסוגים שונים של חימוש מלבד פגזים נפיצים רגילים, כמו פגזי עשן, פגזי תאורה ופגזי מצרר. במלחמת יום
    הכיפורים ובמבצע שלום הגליל השתמשו בצה"ל בתותחים מתנייעים מדגם M7 Priest וכן בתותח מתנייע (תומ"ת) M-107 "רומח" בקליבר
    175 מ"מ ובתומ"ת M-110A2 "קרדום" בקליבר 203 מ"מ. מאז אמצע שנות ה-90 משמש תותח מתנייע מסוג הוביצר בקליבר של 155 מ"מ
    ככלי המרכזי במערך הקני. תותח ה-M-109AL (הקרוי בצה"ל "דוהר") משמש את כלל הכוחות הסדירים בחיל. ה"דוהר" הוא שיפור
    ישראלי לדגם ה"רוכב", שעדיין מוחזק לטובת כוחות המילואים. השיפורים שהוכנסו ל"דוהר" מקנים שרידות גבוהה יותר
    לגדודים/סוללות, עקב העצמאות התנועתית שיש לכל קנה. הפריסה הסוללתית נהייתה רחבה יותר, והדילוגים מהירים יותר. בשירות
    המילואים פעלו בשנים 1975 עד 2014 תותחים נגררים מדגם M-71 ("חתרן") מתוצרת חברת סוֹלתם הישראלית. לאחרונה עוברים גדודי
    מילואים הסבה לתותח ה"דורס" שהוא פיתוח של ה"רוכב". בניגוד לתותח ה"רוכב", בו הכינון והצידוד (כיוון הקנה) נעשים באמצעות
    כוונת אופטית, בתותחי ה"דוהר" וה"דורס" החליפו מערכות ממוחשבות את הכוונת. ב-2021 הוחלט כי התומ"ת SIGMA 155 ייכנס
    לשירות ב-2023 וייקרא בצה"ל "רועם". מערך הקני הסדיר בחת"ם כולל 4 גדודים סדירים בשתי חטיבות האש הסדירות: בחטיבת האש
    282 הגדודים 405 ו-411; בחטיבת האש 215 הגדודים 55 ו-402.
</p>