<div>
  <div #navBar class="w-full items-center flex flex-row-reverse justify-between bg-red-400 p-2">
    <button (click)="isMenuOpen = !isMenuOpen" [cdkMenuTriggerFor]="menu" class="transition-transform "
      [ngClass]="isMenuOpen ? '-rotate-90' : ''">
      <img class="w-8 h-8" src="./assets/menu.svg" alt="תפריט" srcset=""> </button>
    <span class="text-black tracking-widest font-semibold">{{ title }} </span>
    <div>
    </div>
  </div>
</div>
<img src="./assets/rocket.svg" alt="rocket" class="absolute -top-3 -left-3">

<ng-template #menu>
  <div cdkMenu class="flex flex-col gap-2 bg-white p-2 rounded-md shadow-md">
    <button class="w-32 text-end active:bg-slate-50 py-2" (click)="isMenuOpen = false" routerLink="shot-correction"
      cdkMenuItem>טיווחים</button>
    <button class="w-32 text-end active:bg-slate-50 py-2" (click)="isMenuOpen = false" routerLink="purpose"
      cdkMenuItem>תכלית</button>
    <button class="w-32 text-end active:bg-slate-50 py-2" (click)="isMenuOpen = false" routerLink="map-tools"
      cdkMenuItem>כלי מפה</button>
    <button class="w-32 text-end active:bg-slate-50 py-2" (click)="isMenuOpen = false"
      routerLink="professional-literature" cdkMenuItem>ספרות מקצועית</button>
  </div>
</ng-template>


<router-outlet></router-outlet>